:root {
    /* colors */
  --color-primary: #FF5051;   /* bright red-pink */
  --color-secondary: #FFECF0; /* light blush pink */
  --color-text:#2C2E31;  /* dark charcoal gray */
  --color-offer:#008C00; /* vibrant green */
  --color-border:#EBEBEB; /* light gray */
  --color-priceline:#717478; /* medium gray */

  /* fonts */
  --font-primary: "Roboto", sans-serif;
}

/* slider section */

.slick-slider {
    cursor: pointer;
    outline: none !important;
}

.banner-slider .slick-dots {
    bottom: -26px !important;
}

.slick-dots li {
    margin: 0 1px !important;
}

.slick-dots li button::before {
    content: '' !important;
    display: block;
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    border-radius: 50%;
    border: 1px solid var(--color-primary) ;
    background-color: transparent;
    transition: background-color 0.3s;
}

.slick-dots li.slick-active button::before {
    background-color: var(--color-primary);
}